.menu{
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    background-color: var(--color-purple);
    height: 0;
    z-index: 100;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    overflow: hidden;
    justify-content: center;
}

.menu-visible{
    height: 10vh;
    position: fixed;
    display: flex
}


.links{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    list-style: none;
    padding: 1rem;
    margin-top: 1rem;
    font-family: 'pt sans';
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
}

.links-visible{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.divider-link{
    width: 80%;
    height: 1px;
    background-color: var(--blue-mid);
}

a{
    text-decoration: none;
    font-family: 'noto-sans';
    color: white;
    font-size: 1rem;
}

.icons-container{
    display: flex;
    gap: 1rem;
}


.rrss-icons{
    width: 2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

