/* Contenedor principal de la sección About Us */
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem; /* Ejemplo de padding */
    position:relative;
    overflow: hidden;
}


.about-us-items-container {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    max-width: 1520px;
    overflow: hidden; 
}

.about-us-img {
    width: 100%;    border-top-left-radius: 3rem;
}


.about-us-paragraph {
    max-width: 750px; 
    font-size: 1.1rem;
    color: white;
    font-family: 'noto-sans';
}

.title-about{
    color: white;
    text-align: center;
}

.subtitle-about{
    color: white;
    text-align: center;
}

.cards-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

@media (min-width: 1024px){
    .cards-container{
        flex-direction: row;
    }
}