.navbar {
    display: flex;
    background-color: var(--blue-light);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 1rem;
    justify-content: space-between;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    
}

.logo-container{
    display: flex;
    align-items: center;
    background-color: var(--blue-mid);
    border-radius: 1rem;
    padding: 0 0.9rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.logo{
    width: 3rem;
}

.menu-button{
    position: relative;
    background: var(--blue-mid);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: space-around;
    width: 120px;
    overflow: hidden;
}

.menu-button span {
    width: 40px;
    height: 5px;
    background-color: white;
    display:flex;
    transition: width 0.5s ease-out;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -ms-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
}

.menu-button p {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    font-family: 'noto-sans';
    font-size:0.8rem;
    color: var(--blue-mid);
    z-index: 10;
    transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -ms-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition-delay: 0.5s;
}

.menu-button span:nth-child(1){
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.menu-button span:nth-child(2){
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.menu-button.menu-button.is-active span:nth-child(1){
    transform: translateY(5px) rotate(45deg);
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
}

.menu-button.menu-button.is-active span:nth-child(2){
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
}

