.gallery-container{
    margin-inline: auto;
    display: grid;
    max-width: 1360px;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5"
    "img-1 img-1 img-4 img-5"
    "img-6 img-6 img-6 img-6"
    "img-7 img-7 img-8 img-8"
    "img-7 img-7 img-8 img-8"
    "img-7 img-7 img-9 img-9"
    "img-7 img-7 img-9 img-9"
    ;
    gap: 0.4rem
}


.gallery-container a {
    display: block;
}

.gallery-container  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1{
    grid-area: img-1;
}

.img-2{
    grid-area: img-2;
}

.img-3{
    grid-area: img-3;
}

.img-4{
    grid-area: img-4;
}

.img-5{
    grid-area: img-5;
}

.img-6{
    grid-area: img-6;
}

.img-7{
    grid-area: img-7;
}

.img-8{
    grid-area: img-8;
}

.img-9{
    grid-area: img-9;
}