:root{
    --color-purple: rgb(74, 23, 87);
    --color-purple-light: rgb(165, 143, 196);
    --color-gold: rgb(199, 164, 76);
    --color-gold-light: rgb(255, 227, 166);
}

body{
background-color: black;
}

html {
  font-size: 17px;
}
p{
  margin: 0;
}

h1,h2,h3{
  margin: 0;
}

/* fonts */
@font-face {
  font-family: 'noto-sans';
  src: url('/src/assets/fonts/noto-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'noto-sans';
  src: url('/src/assets/fonts/NotoSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'codec-cold';
  src: url('/src/assets/fonts/Codec-Cold-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SIFONN';
  src: url('/src/assets/fonts/SIFONN_PRO.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'italiano';
  src: url('/src/assets/fonts/Italianno-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brillant';
  src: url('/src/assets/fonts/brillant.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'monas';
  src: url('/src/assets/fonts/monasgrotesk-bold.otf');
  font-weight: normal;
}

.title{
  font-size: 2.5rem;
  font-family: 'monas';
  text-transform: uppercase;
}

.subtitle{
  font-family: 'codec-cold';
  font-size: 1.5rem;
}

/* Tablets y pantallas medianas */
@media (min-width: 768px) {
  html {
    font-size: 22px;
  }
}


@media (min-width: 1024px) {
  html {
    font-size: 24px;
  }
}