

.card-about{
    width: 80%;
    max-width: 440px;
    border: solid 4px var(--color-purple);
    padding: 25px;
    margin: 0 auto;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title{
    color: white;
    font-family: 'monas';
    font-size: 1.4rem;
}

.card-paragraph{
    color: white;
    font-family: 'noto-sans';
    font-size: 1rem;
}

.card-image{
    width: 100%;
    height: 240px;
    background-position: center;
    object-fit: cover;
}

.card-button{
    padding: 0.5rem;
    background-color: var(--color-purple);
    border-radius: 1rem;
    font-family: 'noto-sans';
    font-size: 1.3rem;
    color: whitesmoke;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    width: 140px;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.card-button:hover{
    background-color: white;
    color: var(--color-purple);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.card-button-none{
    visibility: none;
}